.fat-strip {
  background-color: #feecda;
  width: 100%;
}

.container .jumbotron {
  display: none;
  margin-top: 20px;
  padding: 10px 3px;
  background-color: #ec7e6d;
}

#result {
  display: none;
}
